<div class="row">
  <div class="col-12">
    <app-mathew-anderson></app-mathew-anderson>
  </div>
  <div class="col-12">
    <app-top-cards></app-top-cards>
  </div>
  <div class="col-lg-8">
    <app-revenue-updates></app-revenue-updates>
  </div>
  <div class="col-lg-4">
    <app-yearly-breakup></app-yearly-breakup>
    <app-monthly-earnings></app-monthly-earnings>
  </div>
  <div class="col-lg-4">
    <app-recent-transactions></app-recent-transactions>
  </div>
  <div class="col-lg-8">
    <app-top-projects></app-top-projects>
  </div>
</div>